@media only screen and (max-width: 600px) {
  .img-phone{
    width: 100%;
    max-width: 100%;
    filter: none;
  opacity: 1;
     height: 30vh;   /* Set height to 100% of the viewport height */
    object-fit: cover;
    margin-bottom: 0px;
  }
  
.car{
  background-color: black;
  height:350px;
}
}

/* .img-phone{
  width: auto;      
  height: 0vh;   
  object-fit: cover;
} */